<a href="https://colab.research.google.com/github/Vamsikrishna1804/Vamsikrishnabharghava_INFO5731_Spring2021/blob/main/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [64]:
#Text Data collection
import urllib.request
import re
import requests
import pandas as pd
text_data=[]
url= urllib.request.urlopen("https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt")
for text in url:
  decode_text=text.decode("utf-8")
  clean_text=decode_text.replace('\r\n','')
  if clean_text:
    text_data.append(clean_text)

df=pd.DataFrame(text_data,columns=['Text Data'])
print(df)

                                             Text Data
0                                           5 Ala. 740
1                            Supreme Court of Alabama.
2                                                ADAMS
3                                                   v.
4                                   TANNER AND HORTON.
..                                                 ...
143            There are no Filings for this citation.
144                                 Negative Treatment
145  There are no Negative Treatment results for th...
146                                            History
147    There are no History results for this citation.

[148 rows x 1 columns]

In [98]:
#1.3 Save all the clean sentences to a csv file (one column, each raw is a sentence) after finishing all the steps above
df.to_csv ('cleanfile.csv')

In [65]:
# Write your code here
#Number of sentences
df['Number Of Sentences']=df['Text Data'].apply(lambda x: len(str(x).split(".")))
print(df)

                                             Text Data  Number Of Sentences
0                                           5 Ala. 740                    2
1                            Supreme Court of Alabama.                    2
2                                                ADAMS                    1
3                                                   v.                    2
4                                   TANNER AND HORTON.                    2
..                                                 ...                  ...
143            There are no Filings for this citation.                    2
144                                 Negative Treatment                    1
145  There are no Negative Treatment results for th...                    2
146                                            History                    1
147    There are no History results for this citation.                    2

[148 rows x 2 columns]

In [66]:
#Number of words:
df['Number Of Words']=df['Text Data'].apply(lambda x: len(str(x).split(" ")))
print(df)

                                             Text Data  ...  Number Of Words
0                                           5 Ala. 740  ...                3
1                            Supreme Court of Alabama.  ...                4
2                                                ADAMS  ...                1
3                                                   v.  ...                1
4                                   TANNER AND HORTON.  ...                3
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...                7
144                                 Negative Treatment  ...                2
145  There are no Negative Treatment results for th...  ...                9
146                                            History  ...                1
147    There are no History results for this citation.  ...                8

[148 rows x 3 columns]

In [67]:
#Number of Characters:
df['Number of Characters']=df['Text Data'].str.len()
df

                                             Text Data  ...  Number of Characters
0                                           5 Ala. 740  ...                    10
1                            Supreme Court of Alabama.  ...                    25
2                                                ADAMS  ...                     5
3                                                   v.  ...                     2
4                                   TANNER AND HORTON.  ...                    18
..                                                 ...  ...                   ...
143            There are no Filings for this citation.  ...                    39
144                                 Negative Treatment  ...                    18
145  There are no Negative Treatment results for th...  ...                    58
146                                            History  ...                     7
147    There are no History results for this citation.  ...                    47

[148 rows x 4 columns]

In [68]:
#Average word length
def Avg_word(sentence):
  Words=sentence.split()
  if len(Words) != 0:
    return(sum(len(word) for word in Words)/len(Words))
  else:
    return None
  return (sum(len(word) for word in Words)/len(Words))
df['Average word length']=df['Text Data'].apply(lambda x: Avg_word(x))
print(df)

                                             Text Data  ...  Average word length
0                                           5 Ala. 740  ...             2.666667
1                            Supreme Court of Alabama.  ...             5.500000
2                                                ADAMS  ...             5.000000
3                                                   v.  ...             2.000000
4                                   TANNER AND HORTON.  ...             5.333333
..                                                 ...  ...                  ...
143            There are no Filings for this citation.  ...             4.714286
144                                 Negative Treatment  ...             8.500000
145  There are no Negative Treatment results for th...  ...             5.555556
146                                            History  ...             7.000000
147    There are no History results for this citation.  ...             5.000000

[148 rows x 5 columns]

In [69]:
#Number of stopwords
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop=stopwords.words('english')

df['stopwords']=df['Text Data'].apply(lambda x: len([x for x in x.split() if x in stop]))
print(df)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
                                             Text Data  ...  stopwords
0                                           5 Ala. 740  ...          0
1                            Supreme Court of Alabama.  ...          1
2                                                ADAMS  ...          0
3                                                   v.  ...          0
4                                   TANNER AND HORTON.  ...          0
..                                                 ...  ...        ...
143            There are no Filings for this citation.  ...          4
144                                 Negative Treatment  ...          0
145  There are no Negative Treatment results for th...  ...          4
146                                            History  ...          0
147    There are no History results for this citation.  ...          4

[148 rows x 6 columns]

In [70]:
#Number of special characters

def run(string): 
  a=re.findall(r'[^\w+\d+]',string)
  return len(a)
df['Special characters'] = df['Text Data'].apply(lambda y: run(y))
print(df)

                                             Text Data  ...  Special characters
0                                           5 Ala. 740  ...                   3
1                            Supreme Court of Alabama.  ...                   4
2                                                ADAMS  ...                   0
3                                                   v.  ...                   1
4                                   TANNER AND HORTON.  ...                   3
..                                                 ...  ...                 ...
143            There are no Filings for this citation.  ...                   7
144                                 Negative Treatment  ...                   1
145  There are no Negative Treatment results for th...  ...                   9
146                                            History  ...                   0
147    There are no History results for this citation.  ...                   8

[148 rows x 7 columns]

In [73]:
#Removal of Stop Words

from nltk.corpus import stopwords
stop=stopwords.words('english')
df['Removal of Stop words']=df['Text Data'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
print(df)

                                      Text Data  ...                       Removal of Stop words
0                                    5 Ala. 740  ...                                  5 Ala. 740
1                        Supreme Court Alabama.  ...                      Supreme Court Alabama.
2                                         ADAMS  ...                                       ADAMS
3                                            v.  ...                                          v.
4                            TANNER AND HORTON.  ...                          TANNER AND HORTON.
..                                          ...  ...                                         ...
143                     There Filings citation.  ...                     There Filings citation.
144                          Negative Treatment  ...                          Negative Treatment
145  There Negative Treatment results citation.  ...  There Negative Treatment results citation.
146                                     History  ...                                     History
147             There History results citation.  ...             There History results citation.

[148 rows x 8 columns]

In [74]:
#Rare Words Removal
rare = pd.Series(' '.join(df['Text Data']).split()).value_counts()[-10:]
print(rare)
rare = list(rare.index)
df['Rare words removal'] = df['Text Data'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))
print(df)

thereafter,        1
unquestionable,    1
Crops              1
meant              1
WAIVER             1
cut                1
original           1
cites              1
May                1
cutting            1
dtype: int64
                                      Text Data  ...                          Rare words removal
0                                    5 Ala. 740  ...                                  5 Ala. 740
1                        Supreme Court Alabama.  ...                      Supreme Court Alabama.
2                                         ADAMS  ...                                       ADAMS
3                                            v.  ...                                          v.
4                            TANNER AND HORTON.  ...                          TANNER AND HORTON.
..                                          ...  ...                                         ...
143                     There Filings citation.  ...                     There Filings citation.
144                          Negative Treatment  ...                          Negative Treatment
145  There Negative Treatment results citation.  ...  There Negative Treatment results citation.
146                                     History  ...                                     History
147             There History results citation.  ...             There History results citation.

[148 rows x 9 columns]

In [78]:
#Frequent words removal

frequent_words = pd.Series(' '.join(df['Text Data']).split()).value_counts()[:10]
print(frequent_words)
frequent_words= list(frequent_words.index)
df['Frequent words removal']=df['Text Data'].apply(lambda x: " ".join(x for x in x.split() if x not in frequent_words))
print(df)

execution    36
crop         29
The          27
levy         23
v.           22
lien         20
right        17
crop,        15
Rep.         15
contract     14
dtype: int64
                                      Text Data  ...                      Frequent words removal
0                                    5 Ala. 740  ...                                  5 Ala. 740
1                        Supreme Court Alabama.  ...                      Supreme Court Alabama.
2                                         ADAMS  ...                                       ADAMS
3                                            v.  ...
4                            TANNER AND HORTON.  ...                          TANNER AND HORTON.
..                                          ...  ...                                         ...
143                     There Filings citation.  ...                     There Filings citation.
144                          Negative Treatment  ...                          Negative Treatment
145  There Negative Treatment results citation.  ...  There Negative Treatment results citation.
146                                     History  ...                                     History
147             There History results citation.  ...             There History results citation.

[148 rows x 10 columns]

In [79]:
#Removing Punctuations
def run(string): 
  a=re.findall(r'[.,:]',string)
  return len(a)

df['Punctuations'] = df['Text Data'].apply(lambda y: run(y))
print(df.head(10))

                          Text Data  ...  Punctuations
0                        5 Ala. 740  ...             1
1            Supreme Court Alabama.  ...             1
2                             ADAMS  ...             0
3                                v.  ...             1
4                TANNER AND HORTON.  ...             1
5                  June Term, 1843.  ...             2
6                          Synopsis  ...             0
7  WRIT Error Circuit Court Sumter.  ...             1
8                                    ...             0
9                West Headnotes (2)  ...             0

[10 rows x 11 columns]

In [80]:
#spelling correction
from textblob import TextBlob
df['Spelling Correction'] = df['Text Data'].apply(lambda x: str(TextBlob(x).correct()))
print(df)

                                      Text Data  ...                          Spelling Correction
0                                    5 Ala. 740  ...                                    5 La. 740
1                        Supreme Court Alabama.  ...                       Supreme Court Alabama.
2                                         ADAMS  ...                                        ADAMS
3                                            v.  ...                                           v.
4                            TANNER AND HORTON.  ...                           TANNER AND HORTON.
..                                          ...  ...                                          ...
143                     There Filings citation.  ...                     There Tidings situation.
144                          Negative Treatment  ...                           Negative Treatment
145  There Negative Treatment results citation.  ...  There Negative Treatment results situation.
146                                     History  ...                                      History
147             There History results citation.  ...             There History results situation.

[148 rows x 12 columns]

In [81]:
#Tokenization

import nltk
nltk.download('punkt')
df['tokenization'] = df['Spelling Correction'].apply(lambda x: TextBlob(x).words)
print(df)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
                                      Text Data  ...                                      tokenization
0                                    5 Ala. 740  ...                                      [5, La, 740]
1                        Supreme Court Alabama.  ...                         [Supreme, Court, Alabama]
2                                         ADAMS  ...                                           [ADAMS]
3                                            v.  ...                                               [v]
4                            TANNER AND HORTON.  ...                             [TANNER, AND, HORTON]
..                                          ...  ...                                               ...
143                     There Filings citation.  ...                       [There, Tidings, situation]
144                          Negative Treatment  ...                             [Negative, Treatment]
145  There Negative Treatment results citation.  ...  [There, Negative, Treatment, results, situation]
146                                     History  ...                                         [History]
147             There History results citation.  ...              [There, History, results, situation]

[148 rows x 13 columns]

In [84]:
#stemming
from nltk.stem import PorterStemmer
st=PorterStemmer()
df['stemming']=df['Text Data'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
print(df)

                                      Text Data  ...               stemming
0                                    5 Ala. 740  ...             5 ala. 740
1                        Supreme Court Alabama.  ...  suprem court alabama.
2                                         ADAMS  ...                   adam
3                                            v.  ...                     v.
4                            TANNER AND HORTON.  ...     tanner and horton.
..                                          ...  ...                    ...
143                     There Filings citation.  ...                    NaN
144                          Negative Treatment  ...                    NaN
145  There Negative Treatment results citation.  ...                    NaN
146                                     History  ...                    NaN
147             There History results citation.  ...                    NaN

[148 rows x 14 columns]

In [92]:
#Lemitization
from textblob import Word
import nltk
nltk.download('wordnet')

df['Lemmitization']=df['Text Data'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))
print(df)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
                                      Text Data  ...                              Lemmitization
0                                    5 Ala. 740  ...                                 5 Ala. 740
1                        Supreme Court Alabama.  ...                     Supreme Court Alabama.
2                                         ADAMS  ...                                      ADAMS
3                                            v.  ...                                         v.
4                            TANNER AND HORTON.  ...                         TANNER AND HORTON.
..                                          ...  ...                                        ...
143                     There Filings citation.  ...                    There Filings citation.
144                          Negative Treatment  ...                         Negative Treatment
145  There Negative Treatment results citation.  ...  There Negative Treatment result citation.
146                                     History  ...                                    History
147             There History results citation.  ...             There History result citation.

[148 rows x 15 columns]

In [93]:
#Number of numerics
df['numerics']=df['Text Data'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
print(df)

                                      Text Data  ...  numerics
0                                    5 Ala. 740  ...         2
1                        Supreme Court Alabama.  ...         0
2                                         ADAMS  ...         0
3                                            v.  ...         0
4                            TANNER AND HORTON.  ...         0
..                                          ...  ...       ...
143                     There Filings citation.  ...         0
144                          Negative Treatment  ...         0
145  There Negative Treatment results citation.  ...         0
146                                     History  ...         0
147             There History results citation.  ...         0

[148 rows x 16 columns]

In [94]:
#Number of uppercase words
df['uppercase']= df['Text Data'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
print(df)

                                      Text Data  ...  uppercase
0                                    5 Ala. 740  ...          0
1                        Supreme Court Alabama.  ...          0
2                                         ADAMS  ...          1
3                                            v.  ...          0
4                            TANNER AND HORTON.  ...          3
..                                          ...  ...        ...
143                     There Filings citation.  ...          0
144                          Negative Treatment  ...          0
145  There Negative Treatment results citation.  ...          0
146                                     History  ...          0
147             There History results citation.  ...          0

[148 rows x 17 columns]

In [95]:
#Lower casing
df['Text Data'] = df['Text Data'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

                                      Text Data  ...  uppercase
0                                    5 ala. 740  ...          0
1                        supreme court alabama.  ...          0
2                                         adams  ...          1
3                                            v.  ...          0
4                            tanner and horton.  ...          3
..                                          ...  ...        ...
143                     there filings citation.  ...          0
144                          negative treatment  ...          0
145  there negative treatment results citation.  ...          0
146                                     history  ...          0
147             there history results citation.  ...          0

[148 rows x 17 columns]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [96]:
# Write your code here

import re
ip = "260.08.094.109"
a=ip.split('.')
new_ip=""
for i in a:
    b = i.lstrip('0')
    if new_ip is "":
        new_ip=b
    else:
        new_ip=new_ip+"."+b
print(new_ip)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [97]:
# Write your code here



import re

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened.As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019.The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

#Check if the string starts with "The":

x = re.findall(r'2\d\d\d', sentence)

print(x)

['2010', '2010', '2019']