<a href="https://colab.research.google.com/github/Vamsikrishna1804/Vamsikrishnabharghava_INFO5731_Spring2021/blob/main/In_class_exercise_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [69]:
# write your answer here
string1= input("Please enter a string for which length value to be calculated:")
print(len(string1))

Please enter a string for which length value to be calculated:Vamsi
5

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [75]:
# write your answer here
import operator
string3=input("enter the string:")
def frequency_char(string3):
  dict1={}
  for i in string3:
    keys=dict1.keys()
    if i in keys:
      dict1[i]+=1
    else:
     dict1[i]=1
  return dict1
dic1=frequency_char(string3)
sortdic=sorted(dic1.items(),key=operator.itemgetter(1),reverse=True)
print("number of charecters in a string",dict(sortdic))

enter the string:google.com
number of charecters in a string {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [80]:
# write your answer here
l=int(input("enter the number of items in a list:"))
list1=[]
for i in range(l):
  txt="enter the {} value:"
  a=int(input(txt.format(i+1)))
  list1.append(a)
print(sum(list1))

enter the number of items in a list:6
enter the 1 value:2
enter the 2 value:3
enter the 3 value:6
enter the 4 value:8
enter the 5 value:9
enter the 6 value:7
35

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [86]:
# write your answer here
string2=str(input("enter the string:"))
def replace_char(string2):
  ch=string2[0]
  string2=string2.replace(ch,'$')
  string2=ch+string2[1:]
  return string2
print("replaced string:", replace_char(string2))

enter the string:annapurna
replaced string: ann$purn$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [89]:
# write your answer here

a=float(input("enter the value of a"))
b=float(input('enter the value of b'))
if a>b and b!=0:
  s=3.14* pow(1+a/b,3)
  print(s)
else:
  print("error value")

enter the value of a100
enter the value of b50
84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [91]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={**dic1,**dic2,**dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [92]:
# write your answer here

tup=int(input("enter the number of elements:"))
list1=[]
for i in range(tup):
  txt="enter the {} tuple value:"
  a=input(txt.format(i+1))
  list1.append(a)
tup1=tuple(list1)
x= input("enter the value which need to check in Tuple:")
if x in tup1:
  print("Value Exists")
else:
  print("Value does not exist")

enter the number of elements:5
enter the 1 tuple value:'apple'
enter the 2 tuple value:'banana'
enter the 3 tuple value:'Mango'
enter the 4 tuple value:5
enter the 5 tuple value:4
enter the value which need to check in Tuple:'Mango'
Value Exists

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [54]:
# write your answer here
s=int(input("enter the number of elements in a set:"))
l1=[]
li={}
for i in range(s):
  txt="enter the {} value"
  a=int(input(txt.format(i+1)))
  l1.append(a)
li=set(l1)
print(max(li))
print(min(li))

enter the number of elements in a set:4
enter the 1 value1
enter the 2 value2
enter the 3 value3
enter the 4 value5
5
1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']